@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
:root {
    --text-color: #3aae9b;
    --text-color-light: #b0faed;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 0;
    min-height: 100vh;
    max-height: 100%;
}


/*content*/

.content {
    background-color: var(--text-color);
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 5em;
}

.content img {
    height: 100%;
    width: auto;
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: center;
    z-index: 999;
}

.content p {
    color: var(--text-color-light);
    align-self: center;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1em;
}


/*slideshow*/

.slideshow {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: auto;
    top: 52em;
}

.slideshow img {
    width: 100%;
    height: auto;
    align-self: center;
    left: 0;
}


/*footer*/

.social {
    position: relative;
    background-color: #b0f9ee;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    top: 50em;
}

.social h1 {
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
}

.media {
    display: block;
}

.media h1 {
    text-align: center;
}

.media ul {
    padding: 0;
    /*to center*/
    text-align: center;
}

.social li {
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 15px;
    padding: 15px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: .5s;
    align-self: center;
    text-decoration: none;
}

.social li :hover {
    color: #3aae9b;
    transition: 0.5s;
}

.media a {
    text-decoration: none;
}

.media a:active {
    text-decoration: none;
}

.media a:visited {
    text-decoration: none;
    color: white;
}


/* navigation styles start here */

header {
    background: white;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-left: 4em;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    /*so image shrinks down when in mobile version*/
}


/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--text-color);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--text-color-light);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: minmax(400px, 4fr);
        z-index: 999;
    }
    .logo {
        grid-column: 1;
        max-width: 100%;
        max-height: auto;
    }
    nav {
        /* all: unset; /* this causes issues with Edge, since it's unsupported */
        /* the following lines are not from my video, but add Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 999;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 1em;
        margin-bottom: 0;
        margin-right: 3em;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: var(--text-color-light);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
    /*content section starts*/
    .content {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding-top: 2em;
    }
    .content p {
        color: var(--text-color-light);
        font-size: 2rem;
    }
    /*slideshow*/
    .slideshow {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto;
        /*so the grid stays in one row*/
        align-items: center;
        justify-items: center;
        top: 45em;
    }
    .slideshow img {
        width: 100%;
        height: auto;
        align-self: center;
        left: 0;
    }
    /*social*/
    .social {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: auto;
        align-items: center;
        background-color: #b0f9ee;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        top: 70em;
    }
    .social h1 {
        display: inline;
        font-size: 1rem;
        color: var(--text-color);
        text-align: left;
        margin-left: 1em;
        justify-self: left;
        width: 50%;
    }
    .social li {
        display: inline;
        list-style: none;
        font-size: 15px;
        padding: 10px 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 100%;
        transition: .5s;
    }
    .media {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .media h1 {
        justify-content: flex-end;
        align-self: center;
        text-align: right;
    }
    .social li:hover {
        color: #3aae9b;
        border: 1px solid #3aae9b;
        transition: 0.5s;
    }
}