@import url("https://use.typekit.net/koe0wht.css");
:root {
    --fw-1: 300;
    --fw-2: 700;
    --fw-3: 900;
    --fs-1: 1.125rem;
    --fs-2: 1.25rem;
    --fs-3: 2rem;
    --fs-small: .75rem;
    --clr-dark: rgba(0, 0, 0, .25);
    --clr-body: rgba(255, 255, 255, .8);
    --bg-color: #3aae9b;
    --bg-color-light: #84f3df;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: motiva-sans, sans-serif;
    background-color: gray;
    background-image: url("assets/bg2.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-body);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    line-height: 1.6;
}

p {
    margin: 0 0 .25em;
}

a {
    color: var(--clr-1);
}

a:hover {
    color: inherit;
}

.logo {
    height: 50px;
}

.flex-center {
    display: flex;
    align-items: center;
    /*so that the little checkbox lines up with the text*/
}

.title,
.subheading {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5px;
}

.title {
    font-size: var(--fs-3);
    font-weight: var(--fw-3);
}

.subheading {
    font-size: var(--fs-2);
    margin-top: 0;
}

.fineprint {
    font-size: var(--fs-small);
}

.list--unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--bg-color);
}

.list li {
    margin-bottom: 1em;
}

.button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    background: var(--clr-dark);
    padding: .5em 1.75em;
    margin-top: .6em;
    color: rgba(0, 0, 0, .9);
    font-weight: var(--fw-3);
    transform: scale(1);
    transition: transform ease-in-out 150;
}

.button:hover {
    transform: scale(1.1);
}

.button+* {
    margin-left: 2em;
}

.steam-signup-form {
    display: grid;
    width: 960px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 35% minmax(500px, 1fr) 3em;
    /*35%, all the leftover space, and like a small 3em*/
    position: relative;
    /*so its not position inside of the document*/
}

.front {
    order: 2;
    /*switches sides*/
    background-color: var(--bg-color);
    background-image: linear-gradient( var(--bg-color-light), var(--bg-color));
    padding: 3rem;
    grid-row: 1/4;
    grid-column: 2/3;
    /*to make sure it goes from the top all the way to the bottom*/
}

.back {
    order: 1;
    background-color: var(--bg-color-light);
    grid-row: 2/3;
    /*goes from line to all the way to line 3*/
    grid-column: 1/2;
    padding: 3rem;
}

.back::after {
    content: '';
    display: block;
    background: var(--bg-color-light);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    grid-row: 2/3;
}

.form {
    margin: 1.5em 0 0;
}

.form__label {
    display: flex;
    ;
}

.form__text {
    all: unset;
    display: block;
    margin: .25em 0 1em;
    background: var(--clr-dark);
    width: 100%;
    padding: .6em;
}

.form__tooltip {
    font-size: var(--fs-small);
    background: var(--clr-dark);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    margin-left: .5em;
    position: relative;
}

.form__tooltip::after {
    content: attr(data-tooltip);
    display: none;
    /*so when we hover, it changes to block*/
    position: absolute;
    padding: 1em;
    background: var(--clr-dark);
    bottom: 1.5em;
    text-align: left;
    width: 250px;
    color: var(--clr-1);
}

.form__tooltip:hover::after {
    display: block;
}

.form__checkbox {
    margin-right: .5em;
}

@media screen and (max-width: 480px) {
    .title,
    .subheading {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 20px;
    }
    .title {
        font-size: var(--fs-2);
        font-weight: var(--fw-3);
    }
    .subheading {
        font-size: var(--fs-2);
        margin-top: 0;
    }
    .steam-signup-form {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        max-height: 100%;
    }
    .front {
        order: 1;
        background-color: var(--bg-color);
        max-width: 100%;
    }
    .back {
        order: 2;
        background-color: var(--bg-color-light);
        max-width: 100%;
    }
    .steam-signup-form img {
        max-width: 100%;
        max-height: 100%;
    }
    .button {
        all: unset;
        cursor: pointer;
        display: block;
        background: var(--clr-dark);
        padding: .5em 1.75em;
        margin-top: .6em;
        color: rgba(0, 0, 0, .9);
        font-weight: var(--fw-3);
        transform: scale(1);
        transition: transform ease-in-out 150;
        position: relative;
        align-self: center;
    }
    .button:hover {
        transform: scale(1.1);
    }
    .button+* {
        margin-left: 1em;
    }
}

.errormsg p {
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
    font-size: 25px;
}